* {
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;
}

body, html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: block;
  overflow-x: hidden;
}

body {
  background-color: black;
}

header {
  display: inline-flex;
  height: 10vh;
  background-color: black;
  width: 100%;
  align-items: center;
}

header > img {
  margin-left: 2vw;
  height: 75%;
}

header > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 100%;
  padding-left: auto;
  padding-right: auto;
  margin-left: 2vw;
  text-decoration: none;
  color: white;
}

header > a span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
  transition: background-color 750ms linear, color 250ms linear;
  border-radius: 3px;
  font-size: 1.2em;
}

header > a span:hover {
  background-color: white;
  color: black;
}

header > form {
  display: flex;
  margin-left: 2vw;
  margin-right: 2vw;
  height: 100%;
  width: auto;
  justify-content: left;
  align-items: center;
  flex-grow: 1;
}

header > form input {
  height: 50%;
  flex-grow: 1;
  border-radius: 3px;
}

#About{
  color: white;
  font-weight: bold;
  background-color: cadetblue;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  height: auto;
  font-size: 2.5vmin; 
  width: 94.5vw;
  margin: 0 auto;
}

#About span{
  font-size: 5vmin;
}

#HomeBG {
  height: 90%;
  width: 94.5vw;
  margin: 0 auto;
}

.animate {
  animation-name: fadeAnimation;
  animation-direction: normal;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;  
}

@keyframes fadeAnimation {
  0%{
    opacity: 0.3;
  }
  20%,80%{
    opacity: 1;
  }
  100%{
    opacity: 0.3;
  }
}

#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  text-align: center;

  background-image: url('images/banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  position: fixed;
  top: 25%;
  left: 25%;

  font-size: 1.8vw;
  color: white;

  opacity: 0;
  animation: fadeOutAnimation ease 3.5s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 0;
    z-index: 999;
  }
  50% {
    opacity: 1;
    z-index: 999;
  }
  100% {
    opacity: 0;
    z-index: 999;
    visibility: hidden;
  }
}

#welcome span {
  margin-top: 2em;
}

#welcome p {
  width: 50%;
}

footer {
  display: flex;
  margin: 0;
  padding: 0;
  height: 30vh;
  width: 100vw;
  background-color: black;
  color: white;
  font-size: 2.5vh;
  flex-direction: column;
  justify-content: center;
}

footer > div {
  display: flex;
  flex-direction: row;
  height: 85%;
}

footer > span {
  text-align: center;
  height: 15%;
}

footer > div > div{
  display: flex;
  height: 100%;
  width: 33.33%;
  flex-direction: column;
  padding: 2vmax;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#SMicon {
  height: 70%;
}

#commentsection{
  display: flex;
  flex-direction: column;
  color: white;
  width: 94.5vw;
  margin: auto;
  padding: 1.5em 0;
}

#commentform{
  display: flex;
  flex-direction: column;
  font-size: 2.5vh;
}

#commentsection label{
  margin: 1em 0;
}

#commentsection input{
  height: 2.1em;
}

#commentsection [name="submit"]{
  margin: 2em auto;
  background-color: cadetblue;
  cursor: pointer;
  height: 2.5em;
  color: white;
}

#commentsection textarea{
  height: 10em;
  padding: 1em;
}

#commentsection input, textarea{
  background-color: rgb(30,30,30);
  border-color: cadetblue;
  color: white;
}

#popup{
  visibility: hidden;
  position: relative;
  top: 60%;
  align-self: center;
  display: block;
  font-size: 3vmin;
  background-color: cadetblue;
  color: white;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0;
  border-radius: 4px;
}

#popup::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: cadetblue transparent transparent transparent;
}

.show{
  animation: fadeIn 4s;
}

@keyframes fadeIn{
  0%{
    visibility: visible;
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

#featured{
  color: white;
  display: flex;
  font-weight: bold;
  text-align: center;
  height: auto;
  font-size: 3.5vmin; 
  width: 95vw;
  margin: 1em auto;
}

#featured a{
  display: flex;
  width: 25%;
  margin: 0 5px;
  transition: background-color 750ms ease, color 250ms ease;
  text-decoration: none;
  color: white;
  height: 6vh;
  justify-content: center;
  align-items: center;
  border: 2px solid cadetblue;
}

#featured a.featured-active {
  background-color: white;
  color: black;
}

#featured a:hover{
  background-color: white;
  color: black;
}

#Section1Div, #Section2Div, #Section3Div, #Section4Div {
  width: 94.5vw;
  height: 70vh;
  padding: 2.5vh 0;
  margin: 5vh auto;
  border: 2px solid cadetblue;
  overflow: hidden;
  position: relative;
}

.hideInfo {
  display: none;
  overflow: hidden;
  transform: translateY(0);
}

.rolldown{
  padding: 1em;
  display: block;
  background-color: white;
  overflow-y: auto;
  z-index: 10;
  position: absolute;
  bottom: 0;
  animation-name: rollDown;
  animation-fill-mode: forwards;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  animation-timing-function: linear; 
}

.showInfo {
  padding: 1em;
  background-color: white;
  display: block;
  overflow-y: auto;
  z-index: 10;
  position: absolute;
  bottom: 0;
  transform: translateY(0);
  animation-name: riseUp;
  animation-fill-mode: forwards;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  animation-timing-function: linear; 
  max-height: 0;
}

@keyframes riseUp{
  0%{
    max-height: 0;
  }
  100%{
    height: 100%;
    max-height: 100%;
  }
}

@keyframes rollDown{
  0%{
    display: block;
    max-height: 100%;
  }
  100%{
    max-height: 0;
    display: none;
  }
}

.container {
  width: 85vw;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.slider {
  display: flex;
  height: 100%;
  flex-shrink: 0;
  margin: 0 auto;
  position: relative;
  transition: transform 1000ms ease;
}

#Section1Div .slider {
  width: 366.67%;
}

#Section2Div .slider {
  width: 400%;
}

#Section3Div .slider {
  width: 400%;
}

#Section4Div .slider {
  width: 267%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 2.5vw;
  cursor: pointer;
  flex-shrink: 0;
  flex: 33.3;
}

.card a {
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.card img {
  display: block;
  height: 90%;
  width: 100%;
}

.dishName {
  height: 10%;
  width: 100%;
  background-color: rgb(30,30,30);
  color: white;
  font-weight: bold;
  padding-top: 5%;
  text-align: center; 
}

.nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background-color: cadetblue;
  height: 8vmin;
  width: 8vmin;
  font-size: 2.5em;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: filter 500ms ease;
  outline: none;
}

.nav button:hover {
  filter: brightness(0.8);
}

.nav .next {
  right: 5px;
}

.nav .prev {
  left: 5px;
}