* {
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;
}

body, html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: block;
  overflow-x: hidden;
}

body {
  background-color: black;
  position: relative;
}

header {
  display: flex;
  height: 10vh;
  min-height: 3em;
  background-color: black;
  width: 100%;
  align-items: center;
  position: relative;
}

header > img {
  margin: auto;
  height: auto;
  max-height: 100%;
  max-width: 70%;
}

.navi div {
  height: 3px;
  background-color: white;
  margin: 5px 0;
  border-radius: 25px;
  transition: all 300ms ease;
}

.navi {
  display: block;
  width: auto;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  transition: all 750ms ease;
  border-radius: 5px;
  padding: 0 5px;
}

.one {
  width: 25px;
}

.two {
  width: 15px;
}

.three {
  width: 20px;
}

.navi:hover div{
  width: 20px;
  background-color: black;
}

.navi:hover {
  background-color: white;
}

.fa.fa-search {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  transition: background-color 750ms linear, color 250ms linear;
}

.fa.fa-search:hover {
  color: black;
  background-color: white;
}

#searchArea {
  text-align: center;
  width: 94.5vw;
  background-color: black;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden; 
  max-height: 0;
  min-height: 0;
}

#searchResult {
  width: 94.5vw;
  height: 32em;
  background-color: white;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1em 0;
}

#searchResult .card {
  margin: 1em auto;
  height: 30em;
  width: 22em;
}

.appear {
  animation-name: riseUp2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

.disappear {
  animation-name: rollDown2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

@keyframes riseUp2{
  0%{
    min-height: 0;
    visibility: visible;
    max-height: 0;
    height: 0;
  }
  100%{
    visibility: visible;
    max-height: 100%;
    height: 10vh;
    min-height: 2.8em;
  }
}

@keyframes rollDown2{
  0%{
    min-height: 2.8em;
    visibility: visible;
    height: 10vh;
    max-height: 100%;
  }
  70%{
    visibility: hidden;
  }
  90%{
    display: none;
    visibility: hidden;
  }
  100%{
    max-height: 0;
    height: 0;
    display: none;
    visibility: hidden;
    min-height: 0;
  }
}

#searchbar {
  width: 90%;
  height: 70%;
  border: cadetblue 2px solid;
  border-radius: 25px;
  background-color: rgb(30,30,30);
  padding-left: 1em;
  outline: none;
  color: white;
  font-size: 1em;
}

#searchbar::placeholder {
  color: white;
}

#aside {
  height: 100%;
  background-color: rgb(30,30,30);
  position: absolute;
  top: 0;
  z-index: 1;
  max-width: 0;
  width: 0;
  padding-top: 3em;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
}

#aside span {
  cursor: pointer;
  position: absolute;
  top: 0.5em;
  right: 1em;
  color: white;
  font-size: 1.5em;
  z-index: 2;
  height: 1.5em;
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease;
  border-radius: 5px;
}

#aside a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  height: 3em;
  padding-left: 0.5em;
  width: 12em;
  margin: 1.5em auto;
  transition: all 500ms ease;
  border-radius: 5px;
}

#aside a:hover, #aside span:hover {
  color: black;
  background-color: white;
}

#aside img {
  height: 6em;
  width: 6em;
  border-radius: 50%;
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
}

#About{
  display: block;
  color: white;
  font-weight: bold;
  background-color: cadetblue;
  text-align: center;
  padding: 1em;
  height: auto;
  font-size: 1em; 
  width: 94.5vw;
  margin: 0 auto;
}

#About span{
  font-size: 1.5em;
}

#HomeBG {
  height: 90%;
  width: 94.5vw;
  margin: 0 auto;
}

.animate {
  animation-name: fadeAnimation;
  animation-direction: normal;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;  
}

@keyframes fadeAnimation {
  0%{
    opacity: 0.3;
  }
  20%,80%{
    opacity: 1;
  }
  100%{
    opacity: 0.3;
  }
}

#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  max-height: 55%;
  text-align: center;

  background-image: url('images/banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  font-size: 3vh;
  color: white;

  opacity: 0;
  animation: fadeOutAnimation ease 4s;
  animation-delay: 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 0;
    z-index: 999;
  }
  50% {
    opacity: 1;
    z-index: 999;
  }
  100% {
    opacity: 0;
    z-index: 999;
    visibility: hidden;
  }
}

footer {
  display: flex;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100vw;
  background-color: cadetblue;
  color: white;
  font-size: 1em;
  flex-direction: column;
  justify-content: center;
}

footer > div {
  display: flex;
  flex-direction: row;
  height: 85%;
}

footer > span {
  text-align: center;
  height: 6vh;
}

footer > div > div{
  display: flex;
  height: 100%;
  width: 33.33%;
  flex-direction: column;
  padding: 2vmax;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#SMicon {
  width: max(min(8em), 70%);
  max-width: 11em;
  height: auto;
}

#commentsection{
  display: flex;
  flex-direction: column;
  color: white;
  width: 94.5vw;
  margin: auto;
  padding: 1.5em 0;
}

#commentform{
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
}

#commentsection label{
  margin: 1em 0;
}

#commentsection input{
  height: 2.1em;
}

#commentsection [name="submit"]{
  margin: 2em auto;
  background-color: cadetblue;
  cursor: pointer;
  height: 2.5em;
  color: white;
}

#commentsection textarea{
  height: 10em;
  padding: 1em;
}

#commentsection input, textarea{
  background-color: rgb(30,30,30);
  border-color: cadetblue;
  color: white;
}

#popup{
  visibility: hidden;
  position: relative;
  top: 60%;
  align-self: center;
  display: block;
  font-size: 3vmin;
  background-color: cadetblue;
  color: white;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0;
  border-radius: 4px;
}

#popup::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: cadetblue transparent transparent transparent;
}

.show{
  animation: fadeIn 4s;
}

@keyframes fadeIn{
  0%{
    visibility: visible;
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

#featuredHeader {
  margin: 0.25em auto;
  width: 94.5vw;
  color: white;
  font-size: max(min(1.25em), 3vw);
  text-align: center;
  background-image: url();
}

#featured{
  color: white;
  display: flex;
  font-weight: bold;
  text-align: center;
  height: auto;
  font-size: max(min(1.1em), 3.5vmin); 
  width: 95vw;
  margin: 1em auto;
}

#featured a{
  display: flex;
  width: 25%;
  margin: 0 5px;
  transition: background-color 750ms ease, color 250ms ease;
  text-decoration: none;
  color: white;
  height: max(min(1.2em), 6vh);
  justify-content: center;
  align-items: center;
  border: 2px solid cadetblue;
}

#featured a.featured-active {
  background-color: white;
  color: black;
}

#featured a:hover{
  background-color: white;
  color: black;
}

#Section1Div, #Section2Div, #Section3Div, #Section4Div {
  width: 94.5vw;
  height: max(80vh, 30em);
  padding: 2.5vh 0;
  margin: 5vh auto;
  border: 2px solid cadetblue;
  overflow: hidden;
  position: relative;
}

.hideInfo {
  display: none;
  overflow: hidden;
  transform: translateY(0);
}

.rolldown{
  padding: 1em;
  display: block;
  background-color: white;
  overflow-y: auto;
  z-index: 10;
  position: absolute;
  bottom: 0;
  animation-name: rollDown;
  animation-fill-mode: forwards;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  animation-timing-function: linear; 
}

.showInfo {
  padding: 1em;
  background-color: white;
  display: block;
  overflow-y: auto;
  z-index: 10;
  position: absolute;
  bottom: 0;
  transform: translateY(0);
  animation-name: riseUp;
  animation-fill-mode: forwards;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  animation-timing-function: linear; 
  max-height: 0;
}

@keyframes riseUp{
  0%{
    max-height: 0;
  }
  100%{
    height: 100%;
    max-height: 100%;
  }
}

@keyframes rollDown{
  0%{
    display: block;
    max-height: 100%;
  }
  100%{
    max-height: 0;
    display: none;
  }
}

.container {
  width: 90vw;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
}

.slider {
  display: flex;
  height: 100%;
  flex-shrink: 0;
  margin: 0 auto;
  position: relative;
  transition: transform 1000ms ease;
}

#Section1Div .slider {
  width: 366.67%;
}

#Section2Div .slider {
  width: 400%;
}

#Section3Div .slider {
  width: 400%;
}

#Section4Div .slider {
  width: 267%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 2.5vw;
  cursor: pointer;
  flex-shrink: 0;
  flex: 1;
}

.card a {
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.card img {
  display: block;
  height: 90%;
  width: 100%;
  min-width: 80%;
}

.dishName {
  height: 10%;
  width: 100%;
  background-color: rgb(30,30,30);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background-color: cadetblue;
  height: 8vmin;
  width: 8vmin;
  font-size: 2.5em;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: filter 500ms ease;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav button:hover {
  filter: brightness(0.8);
}

.nav .next {
  position: absolute;
  right: 5px;
}

.nav .prev {
  position: absolute;
  left: 5px;
}

@media screen and (max-width: 1200px) {
  .nav {
    display: none;
  }

  .container {
    overflow-y: auto;
  }

  .carousel, .slider {
    display: inline;
  }

  .slider .card {
    width: 20em;
    margin: 1em auto; 
  }

  #searchResult .card {
    height: 28em;
    width: 18em;
    margin: 0 auto;
  }

  #searchResult {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
  }
}

@media screen and (max-width: 650px) {
  #searchResult .card {
    height: 26em;
    width: 16em;
    margin: 0 auto;
  }

  #searchResult {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 600px) {
  footer > div {
    display: block;
  }

  footer > div > div {
    margin: auto;
    width: 80%;
    border-bottom: 2px rgb(30,30,30) solid;
  }

  footer > div > div:nth-child(3) {
    border-bottom: none;
  }

  #aside {
    max-width: 100vw;
  }
}

@media screen and (max-width: 400px) {
  #featured, #featured a{
    display: block;
    width: 99%;
    margin: 0.5em auto;
  }
}

@media screen and (max-width: 300px) {
  .slider .card, #searchResult .card {
    width: 15em;
    margin: 0 auto;
  }

  #searchResult .card {
    height: 24em;
  }

  #Section1Div, #Section2Div, #Section3Div, #Section4Div {
    height: 65vh;
  }
}